.nessieContainer {
    position: fixed;
    bottom: 20px;
    right: -216px;
    display: flex;
    align-items: center;
    transition: right 0.5s ease-in-out;
    z-index: 100;
}

.nessieContainer.show {
    right: 20px;
}

.nessieImage {
    width: 100px;
    height: auto;
}

.speechBubble {
    position: relative;
    background: #00aaff;
    border-radius: .4em;
    padding: 10px;
    margin-left: 10px;
    color: white;
    font-size: 14px;
    text-align: center;
    width: 200px;
    word-wrap: break-word;
}