.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    text-align: center;
}

.container h1 {
    font-size: 45px;
    font-weight: bold;
}

.contentContainer {
    display: flex;
    flex-direction: column;
}

.dropdownContainer {
    display: flex;
    flex-direction: column;
}

.dropdownLabels {
    display: flex;
    justify-content: space-between;
}

.dropdowns {
    display: flex;
    justify-content: space-between;
}

.dropdowns div {
    display: flex;
    flex-basis: 25%;
}

.calendarContainer>div {
    background-color: rgb(126, 126, 126) !important;
    color: white;
}

.calendarContainer>div>div>div>div {
    background-color: rgb(126, 126, 126) !important;
}

.calendarContainer tr td {
    height: 60px;
}

.calendarContainer tr td span {
    width: 50px;
    height: 50px;
}

.innerDate {
    background-color: green;
    border-radius: 50%;
    color: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dateCell {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circlesContainer {
    position: absolute;
    /* top: -34px; */
}